{% extends "base.html" %}
{% load static %}
{% block title %}{% if update %}Update Expense{% else %}Add Expense{% endif %}{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
   {% include 'utils/navbar.html' %}
   {% include 'utils/sidebar.html' %}
<main id="main" class="main">
    {% if update %}
{% include 'utils/breadcrumb.html' with page='Update Expense' link1='Expense Master' link2='Update Expense' link3=update_id%}
{% else %}
{% include 'utils/breadcrumb.html' with page='Add Expense' link1='Expense Master' link2='Add Expense'%}
    {% endif %}
<section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                  {% if update %}
                        Update Expense
                  {% else %}
                        Add Expense
                  {% endif %}
              </h5>

              <form class="row g-3" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                <div class="col-md-6">
                  {{form.name|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  {{form.expense_head|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  {{form.invoice_no|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  {{form.date|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  {{form.amount|as_crispy_field}}
                </div>

                <div class="col-md-6">
                  {{form.bill|as_crispy_field}}
                     <img
                           {% if update %}{% if bill %}src="{{bill.url}}"{% else %}src="#"{% endif %}{% endif %} src="#"
                          alt="Preview Image"
                          class="previewImage d-block rounded"
                          height="100"
                    />
                </div>
                <div class="col-md-12">
                  {{form.note|as_crispy_field}}
                </div>
                {% include 'utils/form_button.html' %}
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

</main>
   {% include 'utils/footer.html' %}


{% endblock body %}