{% extends "base.html" %}
{% load static %}
{% block title %}Expense Head Details{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}
   {% include 'utils/navbar.html' %}
   {% include 'utils/sidebar.html' %}
<main id="main" class="main">
{% include 'utils/breadcrumb.html' with page='Expense Head Details' link1='Expense Head Master' link2='Expense Head Detail'%}
<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body ">
                <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Expense Head Details</h5>
                    <div>
                    <a class="btn btn-success" href="{% url 'expense:head' %}"><i class="bi bi-plus-lg"></i> Add</a>
                        </div>
                    </div>
                <div class="table-responsive">
              <table class="table table-striped table-hover nowrap" id="my-datatable"  >
                <thead>
                  <tr>
                    <th >Expense Head</th>
                    <th >Note</th>
                    <th >Created Date</th>
                    <th >Updated Date</th>
                    <th >Action</th>
                  </tr>
                </thead>
                <tbody>

            {% for i in list %}
              <tr>
                <td >{{i.expense_head}}</td>
                <td>{{i.note | safe |truncatewords:20 }}</td>
                <td>{{i.created_at}}</td>
                <td>{{i.updated_at}}</td>
                <td>
                 <div class="dropdown">
                    <button type="button" class="btn p-0  hide-arrow" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'expense:head_update' i.slug  %}" ><i class="bi bi-pencil-square me-1"></i> Edit</a>
                      <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#verticalycentered-{{forloop.counter}}"><i class="bi bi-trash me-1"></i>Delete</a>
                    </div>
                 </div>
                </td>
              </tr>
              {% endfor %}
                </tbody>
              </table>
                </div>
            </div>
            {% for i in list %}
      <div class="modal fade" id="verticalycentered-{{forloop.counter}}" tabindex="{{forloop.counter}}">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Expense Head Delete</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      This will permanently delete
                      <p><b>expense Head : {{i.expense_head}}, Note : {{i.note | safe |truncatewords:20 }}</b></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{% url 'expense:head_delete' slug=i.slug  %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

</main>
   {% include 'utils/footer.html' %}

{% endblock body %}
